@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons";

@import "global";

@import "./components/product-list";
@import "./components/product-detail";